{% extends 'Layout/page.html.twig' %}

{% block title %}créer un film{% endblock%} 

{% block content %}
    <h3>Créer un film</h3>
    <hr >
    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.titre, null, { 'label_attr': {'class': 'col-sm-2 text-sm-right text-lg-right text-md-right'} }) }}
            <div class="col-sm-6 col-xs-12">
                {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}{{ form_errors(form.titre) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.categorie, null, { 'label_attr': {'class': 'col-sm-2 text-sm-right text-lg-right text-md-right'} }) }}
            <div class="col-sm-6 col-xs-12">
                {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}{{ form_errors(form.categorie) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.description, null, { 'label_attr': {'class': 'col-sm-2 text-sm-right text-lg-right text-md-right'} }) }}
            <div class="col-sm-6 col-xs-12">
                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': 6}}) }}{{ form_errors(form.description) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.file, null, { 'label_attr': {'class': 'col-sm-2 text-sm-right text-lg-right text-md-right'} }) }}
            <div class="col-sm-6 col-xs-12">
                {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}{{ form_errors(form.file) }}
            </div>
        </div>
       <br/>
        <div class="">
            <a href="{{ path('film_index') }}" class="btn btn-default">Annuler</a>
             <input type="submit" value="Valider" class="btn btn-primary" />
        </div>
           
    {{ form_end(form) }}
{% endblock %}
